{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/jkanban.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/customStyle.css' %}" />

    <link
      href="https://fonts.googleapis.com/css?family=Lato"
      rel="stylesheet"
    />

    <style>
      body {
        font-family: "Lato";
        margin: 0;
        padding: 0;
      }

      #myKanban {
        overflow-x: auto;
        padding: 20px 0;
      }

      .success {
        background: #00b961;
      }

      .info {
        background: #2a92bf;
      }

      .warning {
        background: #f4ce46;
      }

      .error {
        background: #fb7d44;
      }

      .custom-button {
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 7px 15px;
        margin: 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
      }      
    </style>
  </head>
  <body>
    
    {% csrf_token %}

    <button id="addDefault">Add "Default" board</button>
    <br />
    <div id="myKanban"></div>

    <script src="{% static 'js/jkanban.js' %}"></script>
    <script>

      var KanbanTest = new jKanban({
        element: "#myKanban",
        gutter: "10px",
        widthBoard: "450px",
        itemHandleOptions:{
          enabled: true,
        },

        dropBoard: function (el, target, source, sibling) {
        },

        dragendBoard: function(el) {
            console.warn("----------------- dragEndBoard-ICI -----------")
            sendBoardPosition(el)
        },

        click: function(el) {
          console.warn("----------------- click-ICI -----------")
        },
        context: function(el, e) {
          console.log("Trigger on all items right-click!");
        },
        dropEl: function(el, target, source, sibling){
          console.warn("----------------- dropEl-ICI -----------")  
          console.log(target.parentElement.getAttribute('data-id'));
          console.log(el, target, source, sibling)
        },
        dragendEl: function(el){
          console.warn("----------------- dragendEl-ICI -----------")
          extractTaskPositionInformations(el)
        },

        buttonClick: function(el, boardId) {
          console.warn("----------------- buttonClick-ICI -----------")
          console.log(el);
          console.log(boardId);
          // create a form to enter element
          var formItem = document.createElement("form");
          formItem.setAttribute("class", "itemform");
          formItem.innerHTML =
            '<div class="form-group"><textarea class="form-control" rows="2" autofocus></textarea></div><div class="form-group"><button type="submit" class="btn btn-primary btn-xs pull-right">Submit</button><button type="button" id="CancelBtn" class="btn btn-default btn-xs pull-right">Cancel</button></div>';

          KanbanTest.addForm(boardId, formItem);
          formItem.addEventListener("submit", function(e) {
            e.preventDefault();
            var text = e.target[0].value;
            const id = "newTask"
            KanbanTest.addElement(boardId, {
              id: id,
              title: text
            });
            formItem.parentNode.removeChild(formItem);
            addTask(text, boardId)
            addContenteditableToTask(id)
          });
          document.getElementById("CancelBtn").onclick = function() {
            formItem.parentNode.removeChild(formItem);
          };
        },
        itemAddOptions: {
          enabled: true,
          content: '+ Add New Card',
          class: 'custom-button',
          footer: true
        },
        boards: {{data|safe}},
      });

      var addBoardDefault = document.getElementById("addDefault");
      addBoardDefault.addEventListener("click", function() {
        const title = "New Board"
        KanbanTest.addBoards([
          {
            id: title,
            title: title,
            item: [
            ]
          }
        ]);
        addContenteditableToBoard(title)
        addColumn(title)
      });
      
    </script>

    <script src="{% static 'js/jkanban.min.js' %}"></script>
    <script src="{% static 'js/api.js' %}"></script>
    <script src="{% static 'js/customfunctions.js' %}"></script>

    <script
      src="https://code.jquery.com/jquery-3.6.1.min.js"
      integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
      crossorigin="anonymous">
      defer
    </script> 

  </body>
</html>
